:root {
  --primary: #ff80aa;
  --bg: #ffaca5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Atma", sans-serif;
  background-color: var(--bg);
  color: #d34675;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 10%;
  background-color: var(--primary);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-img {
  width: 50px; /* Atur lebar logo */
  height: 50px; /* Atur tinggi logo */
  border-radius: 50%; /* Membuat gambar menjadi lingkaran */
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-logo span {
  color: #d34675;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  font-weight: 600;
}

.navbar .navbar-nav a:hover {
  color: #d34675;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #d34675;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
  font-weight: 400;
}

.navbar .navbar-extra a:hover {
  color: #d34675;
}

#aksesoyis-menu {
  display: none;
}

/* shopping cart */
#shopping-cart-button {
    position: relative;

}

#shopping-cart-button .quantity-badge {
    display: inline-block;
    padding: 1px 5px;
    background-color: red;
    border-radius: 6px;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: -10px;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: #fff;
  color: var(--primary);
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #333;
  position: relative;
}

.shopping-cart img {
  height: 4rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.4rem;
  
}

.shopping-cart .item-price {
  font-size: 1.2rem;
  color: #333;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
    margin: 0 8px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
}

.shopping-cart h4 {
    font-size: 1.6rem;
    margin-top: -1rem;
    text-align: center;
}

.form-container, login {
    width: 100;
    display: flex;
    justify-content: center;
    border-top: 1px dashed black;
    margin-top: 1rem;
    padding: 1rem;
}

.form-container .checkout-button, .login .login-button {
    padding: 6px 14px;
    background-color: #ff80aa;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    margin: 1rem auto;
    cursor: pointer;
}



/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header.jpg ");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 172, 165) 8%,
    rgba(255, 128, 170, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(211, 70, 117);
  line-height: 1.2;
}

.hero .content h1 span {
  color: #d34675;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgb(226, 192, 203);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: #ff80aa;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* profil section */
.profil,
.shop, login {
  padding: 8rem 7% 1.4rem;
}

.profil h2,
.shop h2, login h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.profil h2 span,
.shop h2 span {
  color: #fff;
}

.profil .row {
  display: flex;
}

.profil .row .profil-img {
  flex: 1 1 45rem;
}

.profil .row .profil-img img {
  width: 100%;
}

.profil .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.profil .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #fff;
}

.profil .row .content h3 span {
  color: #d34675;
}

.profil .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
}

/* shop section */
.shop h2,
.contact h2 {
  margin-bottom: 1rem;
}

.shop p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.4rem;
}

.shop .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.shop .shop-card {
  text-align: center;
  border: 1px solid #d34675;
  padding: 2rem;
}

.shop .shop-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.shop .shop-icons a {
  width: 4rem;
  height: 4rem;
  color: #d34675;
  margin: 0.3rem;
  border: 1px solid #d34675;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop .shop-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.shop .shop-image img {
  height: 25rem;
}

.shop .shop-content h3 {
  font-size: 2rem;
}

.shop .shop-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: #d34675;
}

.shop .shop-stars .star-full {
  fill: #d34675;
}

.shop .shop-price {
  font-size: 1.3rem;
  font-weight: bold;
}

/* footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover {
  color: #d34675;
}

footer .links a:hover {
  color: #d34675;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 1rem;
}

footer .credit a {
  color: #fff;
  font-weight: 800;
}

/* media queris */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #aksesoyis-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ff80aa;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .profil .row {
    flex-wrap: wrap;
  }

  .profil .row .profil-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .profil .row .content {
    padding: 0;
  }

  .profil .row .content h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .shop p {
    font-size: 1.2rem;
  }
}

/* mobile phone */
@media (max-width: 450) {
  html {
    font-size: 55%;
  }
}

.login h5 {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}

.login form{
    width: 100%;
    text-align: center;
}

.login label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.login span {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
}

.login-container input {
    background-color: #fff;
    font-size: 1rem;
    width: 70%;
}
    